.grid {
    position: relative;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding:10px;
}

/* top-left, top-centered, top-right, middle-left, middle-centered, middle-right, bottom-left, bottom-centered, bottom-right */

.label {
    position: absolute;
    font-weight: 800;
}

/* Top left text */
.top-left {
    top: 25px;
    left: 25px;
}

/* Top centered */
.top-centered {
    top: 25px;
    left: 50%;
    transform: translate(-50%);
}

/* Top right text */
.top-right {
    top: 25px;
    right: 15px;
}

/* middle left */
.middle-left {
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
}

/* Centered */
.middle-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* middle left */
.middle-right {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
}

/* Bottom left */
.bottom-left {
    bottom: 25px;
    left: 25px;
}

/* Bottom centered */
.bottom-centered {
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}

/* Bottom right */
.bottom-right {
    bottom: 25px;
    right: 25px;
}