<template>
    <div class="grid slds-grid slds-wrap">
        <template for:each={linkSettings} for:item="link">
            <div class={defaultContainerCSS} key={link.Id}>
                <a href={link.Link_URL__c} style={linkCSS} target={linkTarget}>
                    <img src={link.Image_URL__c} style={imageCSS} />
                    <div class={defaultLabelCSS} style={labelCSS}>
                        {link.Label__c}
                    </div>
                </a>
            </div>
        </template>
    </div>
</template>